# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log

# Prisma
src/prisma/migrations/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Build
*.tsbuildinfo
